[Desktop Entry]
Encoding=UTF-8
Name=Coino
Comment=Coino P2P Cryptocurrency
Comment[ru]=Coino, P2P криптовалюта
Comment[fr]=Coino, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Coino, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Coino-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Coino80.xpm
MimeType=x-scheme-handler/Coino;
Categories=Office;
